.custome-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .custome-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .custome-table th,
  .custome-table td {
    padding: 12px 15px;
  }
  
  .custome-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .custome-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .custome-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .custome-table tbody tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
  }